{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container text-light">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo, {
            attr: {
            placeholder: 'Pseudo'
        }} 
        ) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.nom, {
            attr: {
                placeholder: 'Nom'
            }
        }) }}
        {{ form_row(registrationForm.prenom, {
            attr: {
                placeholder: 'prenom'
            }
        }) }}
        {{ form_row(registrationForm.civilite) }}
        {{ form_row(registrationForm.email, {
            attr: {
                placeholder: 'Email'
            }
        }) }}

        <button type="submit" class="btn btn-success"> Register </button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
