{% extends 'base.html.twig' %}

{% block title %}Hello ShowController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    {% for slider in chambre.sliders %}
    
        <div class="carousel-item active">
        <img src="{{ slider.photo }}" class="d-block w-100 mx-auto" style="height: 80vh; object-fit: cover;" alt=""> <!-- Image Fit avec son environnement (0_0)-->
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
        <div>
            <h1 class="text-light text-center"> {{ chambre.titre }} </h1>
            <p  class="text-light"> {{ chambre.descriptionlongue }} </p>
            <div>
            <h1 class="text-light text-end"> <strong> {{ chambre.prixjournalier / 100 }} €/jour </strong> </h1>
        </div>
    </div>
    <br><br>
	{{ form_start(form) }}
    <h5 class="text-light"> {{chambre.titre}} </h5>
    <div class="row">
    <div class="col-md-6 text-light">
    {{ form_row(form.date_arrivee) }}
    </div>
    <div class="col-md-6 text-light">
    {{ form_row(form.date_depart) }}
    </div>
    </div>
    <p>Prix à la journée : {{chambre.prixJournalier / 100|number_format(2)}}€</p>
    
    <div class="row">
    <div class="col-md-6 text-light">
    {{ form_row(form.prenom) }}
    </div>
    <div class="col-md-6 text-light">
    {{ form_row(form.nom) }}
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 text-light">
    {{ form_row(form.telephone) }}
    </div>
    <div class="col-md-6 text-light">
    {{ form_row(form.email) }}
    </div>
    </div>


    <button type="submit" class="btn btn-primary">Réserver à ces dates </button>

    {{ form_end(form) }}
</div>
{% endblock %}

